 <div class="page-head"> 
     <div class="container">
         <div class="row">
            <div class="page-head-content">
                 <h1 class="page-title">My Acount</h1>               
            </div>
        </div>
     </div>
</div>    



<div class="container">
     <div class = "row">
	<!--dashboard start-->
		<div class = "col-md-3 col-sm-12">
			<br>
			<div class = "thumbnail text-center">
				<br>
				<span class= "text-left label label-success">Mode:{{admin}}</span>
				<br>
				<br>
					
				<img src = "assets/img/user.png" alt = "" class = "img-circle" style= "width: 130px; height: auto; border: 5px solid #F4F7F9; margin-bottom:6px;">
				<ul class="list-group list-group-flush">
				  <li class="list-group-item"><i class = "pe-7s-culture"><a href = "/List-properties"></i> Properties</li>
				  <li class="list-group-item">A second item</li>
				  <li class="list-group-item">A third item</li>
				  <li class="list-group-item">A fourth item</li>
				  <li class="list-group-item">And a fifth one</li>
				</ul>
			</div>	
		</div>
	
		 <div class = "col-md-9 col-sm-12 col-xm-12" style = "margin-top:28px;">
		    {{#each properties}}
			     <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12">
                                <a href="/get-id/{{this.propertyId}}" ><img src="{{this.propertyImagePath}}"></a>
                                <div class="item-entry overflow"> 
                                    <h5><a href="property-1.html" >{{this.propertyStructure}}<span class = "pull-right"></span></a>
									
									 <a href = "/get-property-id/{{this.propertyId}}" type="label" class="label {{this.status}} pull-right"><i class = "pe-7s-check"></i> {{this.publication}}</a>
								
									 </h5>
									
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
									
									
                                </div>
                 </div>	
             {{/each}}				 
		</div>
     </div>        
</div>	  
	 



