<!--dashboard start-->
<div class = "col-md-9 col-sm-12 col-xm-12" style = "margin-top:28px;">

             {{#if proRemoval}}
			     <div class = "alert alert-success" alert-dismissable style = "border-radius:4px;"> 
				     
					     <p><button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true"><i class = "lnr lnr-cross-circle"></i></button>
				         <i class= "lnr lnr-success"></i> Property removed successfully</p>
					 
				 </div> 
			 {{/if}}
{{#if user}}
		    {{#each properties.results}}
			     <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12">
                                <img src="{{this.propertyImagePath}}">
                                <div class="item-entry overflow"> 
                                    <h5>{{this.propertyStructure}}<span class = "pull-right"><span class="badge badge-secondary">{{this.availableRooms}}</span></span>
									
								
									 </h5>
									
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
									
									
                                </div>
                 </div>	
             {{/each}}
{{else}}
		{{#each properties.results}}
			     <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12">
                                <a href="/dashboard-get-property-id/{{this._id}}" ><img src="{{this.propertyImagePath}}"></a>
                                <div class="item-entry overflow"> 
                                    <h5><a href="/dashboard-get-property-id/{{this._id}}" >{{this.propertyStructure}}<span class = "pull-right"></span></a>
									
									 <a href = "/dashboard-get-property-id/{{this._id}}" type="label" class="label {{this.myClass}} pull-right"><i class = "pe-7s-check"></i> {{this.status}}</a>
								
									 </h5>
									
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
									
									
                                </div>
                 </div>	
             {{/each}}	
{{/if}}			
		</div>
		
		
		<div class="col-md-12"> 
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
                                    <li><a href="/all-properties?page=1">1</a></li>
                                    <li><a href="/all-properties?page=2">2</a></li>
                                    <li><a href="/all-properties?page=3">3</a></li>
                                    <li><a href="/all-properties?page=4">4</a></li>
                                </ul>
                            </div>
                        </div>                
             </div>
		</div>
     </div>        
</div>	  
	 



