   <div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">

                    <div class="item"><img src="assets/img/slide1/favela.jpg" alt="GTA V"></div>
                    <div class="item"><img src="assets/img/slide1/favela.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="assets/img/slide1/favela.jpg" alt="GTA V"></div>

                </div>
            </div>
            <div class="slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <h2><span style="font-weight:600">PROPERTY SEARCHING JUST GOT SO EASY</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!</p>
                       <div class="row">
                    <div class="">
					   <div class="search-form wow pulse" data-wow-delay="0.8s">
                            <form action="" class=" form-inline">
                             
                                <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" data-live-search="false" title="Select region">
                                        <option>Hhohho</option>
                                        <option>Manzini</option>
                                        <option>Shiselweni </option>
                                        <option>lubombo</option>
                                    </select>
                                </div>
								
								 <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" data-live-search="false" title="Select city">

                                        <option>New yor</option>
                                        <option>Paris</option>
                                        <option>Casablanca</option>
                                        <option>Tokyo</option>
                                        <option>Marraekch</option>
                                        <option>kyoto , shibua</option>
                                    </select>
                                </div>
								
										 <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" data-live-search="false" title="Select area">

                                        <option>New york, CA0/option>
                                        <option>Paris</option>
                                        <option>Casablanca</option>
                                        <option>Tokyo</option>
                                        <option>Marraekch</option>
                                        <option>kyoto , shibua</option>
                                    </select>
                                </div>
								
                               <input class="button btn largesearch-btn" value="Search" type="submit">
                            </form>
                        </div>
                    </div>
					</div>
					</div>
                </div>
            </div>
        </div>
		
		
		
		        <!-- property area -->
         <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Top submitted property</h2>
                        <p>Nulla quis dapibus nisl. Suspendisse ultricies commodo arcu nec pretium. Nullam sed arcu ultricies . </p>
                    </div>
                </div>

                <div class="row">
					{{#each properties}}
                         <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12">
                                <a href="/get-id/{{this.propertyId}}" ><img src="{{this.propertyImagePath}}"></a>
                                <div class="item-entry overflow"> 
                                    <h5><a href="property-1.html" >{{this.propertyStructure}}<span class = "pull-right">Available <span class="badge badge-secondary">{{this.availableRooms}}</span></span></a></h5>
									<a href = "/get-property-id/{{this.propertyId}}" type="button" class="btn btn-primary pull-right">Take It!</a>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
                                </div>
                         </div>
					{{/each}}	
                 </div>
                </div>
            </div>
         </div>
		
		       <!--Welcome area -->
        <div class="Welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 Welcome-entry  col-sm-12">
                        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                            <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                                        <!-- /.feature title -->
                                        <h2>GARO ESTATE </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div  class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-home pe-4x"></i>
                                            </div>
                                            <h3>Any property</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-users pe-4x"></i>
                                            </div>
                                            <h3>More Clients</h3>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 text-center">
                                        <i class="welcome-circle"></i>
                                    </div>

                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-notebook pe-4x"></i>
                                            </div>
                                            <h3>Easy to use</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-help2 pe-4x"></i>
                                            </div>
                                            <h3>Any help </h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--TESTIMONIALS -->
        <div class="testimonial-area recent-property" style="background-color: #FCFCFC; padding-bottom: 15px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Our Customers Said  </h2> 
                    </div>
                </div>

                <div class="row">
                    <div class="row testimonial">
                        <div class="col-md-12">
                            <div id="testimonial-slider">
							
                                <div class="item">
                                    <div class="client-text">                                
                                        <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                        <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
                                    </div>
                                    <div class="client-face wow fadeInRight" data-wow-delay=".9s"> 
                                        <img src="assets/img/client-face1.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-text">                                
                                        <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                        <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
                                    </div>
                                    <div class="client-face">
                                        <img src="assets/img/client-face2.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-text">                                
                                        <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                        <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
                                    </div>
                                    <div class="client-face">
                                        <img src="assets/img/client-face1.png" alt="">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="client-text">                                
                                        <p>Nulla quis dapibus nisl. Suspendisse llam sed arcu ultried arcu ultricies !</p>
                                        <h4><strong>Ohidul Islam, </strong><i>Web Designer</i></h4>
                                    </div>
                                    <div class="client-face">
                                        <img src="assets/img/client-face2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
		
		<div class = "container">
		    <div class = "row">
			   <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>All availble Property</h2> 
                    </div>
                </div>
                        <div class="similar-post-section padding-top-40" style = "margin-bottom: 55px;"> 
                            <div id="prop-smlr-slide_0"> 
							{{#each properties}}
                                <div class="box-two proerty-item ">
                                    <div class="item-thumb ">
                                        <a href="/get-id/{{this.propertyId}}" ><img src="{{this.propertyImagePath}}"></a>
                                    </div>
                                    <div class="item-entry overflow">
                                        <h5><a href="property-1.html"> {{this.propertyStructure}}<span class = "pull-right">Available <span class="badge badge-secondary">{{this.availableRooms}}</span></span> </a></h5>
										<a href = "/get-property-id/{{this.propertyId}}" type="button" class="btn btn-primary pull-right">Take It!</a>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> Area :</b>{{this.communityName}}  </span>
                                        <span class="proerty-price pull-right">E {{this.price}}</span> 
                                    </div>
                                </div> 
							{{/each}}	
                            </div>
                        </div>	
		     </div>
          </div>
		
		
		