   <div class="slider-area">
            <div class="slider">
                <div id="bg-slider" class="owl-carousel owl-theme">

                    <div class="item"><img src="assets/img/slide1/room.jpg" alt="GTA V"></div>
                    <div class="item"><img src="assets/img/slide1/room.jpg" alt="The Last of us"></div>
                    <div class="item"><img src="assets/img/slide1/room.jpg" alt="GTA V"></div>

                </div>
            </div>
            <div class="slider-content">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
                        <h2><span style="font-weight:600">monthly rooms for rent in Eswatini</span></h2>
                        <p style = "font-size:15px">Yes! You don’t necessarily have to sign a long lease to rent a room. There are many apartment buildings, co-living spaces and even hotels with rooms available on a month-to-month basis. Let’s take a deeper look at the different types of rooms you can rent in almost any major city across the country.</p>
                       <div class="row">
                    <div class="">
					   <div class="search-form wow pulse" data-wow-delay="0.8s">
                            <form action="/search-properties" method = "post" class=" form-inline">
                             
                                <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" data-live-search="false" name = "region" title="Select region">
                                        <option>Hhohho</option>
                                        <option>Manzini</option>
                                        <option>Shiselweni </option>
                                        <option>Lubombo</option>
                                    </select>
                                </div>
								
								 <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" name = "cityname" data-live-search="false" title="Select city">
									 if{{#each properties.results}}
                                       <option>{{this.cityName}}</option>
									 {{/each}} 
                                    </select>
                                </div>
								
										 <div class="form-group">                                   
                                    <select id="lunchBegins" class="selectpicker" name = "communityname" data-live-search="false" title="Select area">

                                         {{#each properties.results}}
                                             <option>{{this.communityName}}</option>
									    {{/each}}
                                    
                                    </select>
                                </div>
								<input type = "hidden" name = "_csrf" value = "{{csrfToken}}">
                               <input class="button btn largesearch-btn" value="Search" type="submit">
                            </form>
                        </div>
                    </div>
					</div>
					</div>
                </div>
            </div>
        </div>
		
		
		
		        <!-- property area -->
         <div class="content-area home-area-1 recent-property" style="background-color: #FCFCFC; padding-bottom: 55px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>Top submitted rooms for rent </h2>
                        <p>Tfola lokhe luhlobo lwetindlu tekucashisa letivulekile malula nje! Sinema:  <strong>1 rooms</strong>, <strong>bed sitters</strong>, <strong>2 bed rooms</strong>, na <strong>2 bedrooms</strong>. </p>
						   
                    </div>
                </div>

                <div class="row">
				
				{{#if searchProperties}}
				     {{#each properties.results}}
                         <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12" style = "margin-bottom: 20px;">
                               <a href = "/get-id/{{this._id}}"> <img src="{{this.propertyImagePath}}"></a>
                                <div class="item-entry overflow"> 
                                    <h5>{{this.propertyStructure}}<span class = "pull-right">Available <span class="badge badge-secondary">{{this.availableRooms}}</span></span></h5>
									<a href = "/get-property-id/{{this._id}}" type="button" class="btn btn-primary pull-right">Take It!</a>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
                                </div>
                         </div>
					{{/each}}	
					
				{{else}}
				
					{{#each properties.results}}
                         <div class = "col-lg-4 col-md-4 col-sm-6 col-xm-12 col-xm-12" style = "margin-bottom: 20px;">
                               <a href = "/get-id/{{this._id}}">  <img src="{{this.propertyImagePath}}"></a>
                                <div class="item-entry overflow"> 
                                    <h5>{{this.propertyStructure}}<span class = "pull-right">Available <span class="badge badge-secondary">{{this.availableRooms}}</span></span></h5>
									<a href = "/get-property-id/{{this._id}}" type="button" class="btn btn-primary pull-right">Take It!</a>
                                    <div class="dot-hr"></div>
                                    <span class="pull-left"><b>Area :</b> {{this.communityName}} </span>
                                    <span class="proerty-price pull-right">E {{this.price}}</span>
                                </div>
                         </div>
						
					{{/each}}	
				 {{/if}}	
                 </div>
				<div class="col-md-12"> 
                        <div class="pull-right">
                            <div class="pagination">
                                <ul>
								     <li><a href="/"><i class = "fa fa-home"></i> Back Home</a></li>
                                    <li><a href="/?page=1">1</a></li>
                                    <li><a href="/?page=2">2</a></li>
                                    <li><a href="/?page=3">3</a></li>
                                    <li><a href="/?page=4">4</a></li>
                                </ul>
                            </div>
                        </div>                
             </div>
                </div>
            </div>
         </div>
		
		       <!--Welcome area -->
        <div class="Welcome-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 Welcome-entry  col-sm-12">
                        <div class="col-md-5 col-md-offset-2 col-sm-6 col-xs-12">
                            <div class="welcome_text wow fadeInLeft" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                                        <!-- /.feature title -->
                                        <h2>MAST TAND </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <div  class="welcome_services wow fadeInRight" data-wow-delay="0.3s" data-wow-offset="100">
                                <div class="row">
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-home pe-4x"></i>
                                            </div>
                                            <h3>Any property</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-users pe-4x"></i>
                                            </div>
                                            <h3>More Clients</h3>
                                        </div>
                                    </div>


                                    <div class="col-xs-12 text-center">
                                        <i class="welcome-circle"></i>
                                    </div>

                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-notebook pe-4x"></i>
                                            </div>
                                            <h3>Easy to use</h3>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 m-padding">
                                        <div class="welcome-estate">
                                            <div class="welcome-icon">
                                                <i class="pe-7s-help2 pe-4x"></i>
                                            </div>
                                            <h3>Any help </h3>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  <!-- Count area -->
        <div class="count-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>You can trust Us </h2> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 percent-blocks m-main" data-waypoint-scroll="true">
                        <div class="row">
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-users"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent" id="counter">0</h2>
                                        <h5>HAPPY CUSTOMER </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-home"></span>
                                    </div>
                                    <div class="chart" data-percent="12000">
                                        <h2 class="percent" id="counter1">0</h2>
                                        <h5>Properties</h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-flag"></span>
                                    </div>
                                    <div class="chart" data-percent="120">
                                        <h2 class="percent" id="counter2">0</h2>
                                        <h5>City registered </h5>
                                    </div>
                                </div> 
                            </div> 
                            <div class="col-sm-3 col-xs-6">
                                <div class="count-item">
                                    <div class="count-item-circle">
                                        <span class="pe-7s-graph2"></span>
                                    </div>
                                    <div class="chart" data-percent="5000">
                                        <h2 class="percent"  id="counter3">5000</h2>
                                        <h5>DEALER BRANCHES</h5>
                                    </div>
                                </div> 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



		<div class = "container">
		    <div class = "row">
			   <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center page-title">
                        <!-- /.feature title -->
                        <h2>All available Rooms</h2> 
                    </div>
                </div>
                        <div class="similar-post-section padding-top-40" style = "margin-bottom: 55px;"> 
                            <div id="prop-smlr-slide_0"> 
							{{#each properties.results}}
                                <div class="box-two proerty-item ">
                                    <div class="item-thumb ">
                                        <a href="/get-id/{{this._id}}" ><img src="{{this.propertyImagePath}}"></a>
                                    </div>
                                    <div class="item-entry overflow">
                                        <h5><a href="property-1.html"> {{this.propertyStructure}}<span class = "pull-right">Available <span class="badge badge-secondary">{{this.availableRooms}}</span></span> </a></h5>
										<a href = "/get-property-id/{{this._id}}" type="button" class="btn btn-primary pull-right">Take It!</a>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> Area :</b>{{this.communityName}}  </span>
                                        <span class="proerty-price pull-right">E {{this.price}}</span> 
                                    </div>
                                </div> 
							{{/each}}	
                            </div>
                        </div>	
		     </div>
          </div>

		
		